.jumbotron{
	background-color: #e74c3c;
	color:white;
}
footer{
	background-color: #c0392b;
	padding: 30px;
	margin-top: 40px;
	color:white;
}
footer a{
	color:white;
}
.card-hotel{
	flex:1 300px;
	padding: 10px;
	margin-top: 10px;

}
.btn-reserva{
	width: 100%;
}